{% extends "book_outlet/base.html" %}
{% load static %}

{% block title %}
  All Books
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'book_outlet/index.css' %}">
  <h1>BOOK STORE</h1>
  <ul>
    {% for book in books %}
    <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (Rating: {{ book.rating }})</li>
    {% endfor %}
  </ul>

  <hr>

  <p>Total Number of Books: {{ total_number_of_book }}</p>
  <p>Average Rating: {{ average_rating.rating__avg }}</p>
{% endblock %}
